html, body {
    background-color: #242424;
    color: white;
}

#frequencies, #iocs {
    width: calc(100vw - 100px) !important;
    height: auto !important;
    padding-left: 100px;
}

form {
    margin-top: 150px;
}

textarea {
    resize: none;
}

nav {
    -webkit-app-region: drag;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

nav li {
    -webkit-app-region: no-drag !important;
}

#me  {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    background-color: #343a40;
}

.text {
    padding: 20px 50px;
}